@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

:root {
  /* Colors */
  --clr-dark-cyan: #19a2ae;
  --clr-very-dark-desaturated-blue: #2d3248;
  --clr-dark-grayish-blue: #6a6f81;
  --clr-dark-gray: #969696;
  --clr-dark-gray-alpha35: rgba(150, 150, 150, 0.35);
  --clr-white: white;
  /* Fonts Families */
  --ff-heading: 'Kumbh Sans', sans-serif;
  --ff-body: 'Kumbh Sans', sans-serif;
  /* Fonts Sizes */
  --fs-title: 2rem;
  --fs-body: 1.125rem;
  /* Fonts Weight */
  --fw-thin: 100;
  --fw-extra-light: 200;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --fw-extra-bold: 800;
  --fw-black: 900;
}
@media only screen and (min-width: 90em) {
  :root {
    --fs-title: 2.9rem;
  }
}

body {
  position: relative;
  background-color: var(--clr-dark-cyan);
  background-image: url(../images/bg-pattern-top.svg),
    url(../images/bg-pattern-bottom.svg);
  background-repeat: no-repeat;
  background-position: right 40vw top -37.5rem, left 42vw top 14.375rem;
}
@media only screen and (min-width: 90em) {
  body {
    background-position: right 52vw top -32.25rem, left 48vw top 23.125rem;
  }
}

:root {
  font-size: 100%;
}

body {
  font-family: var(--ff-body);
  font-size: var(--fs-body);
  font-weight: var(--fw-regular);
  color: var(--clr-dark-gray);
}

h1 {
  font-family: var(--ff-heading);
}

.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.site-content {
  position: relative;
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.attribution {
  display: none;
  position: fixed;
  height: 20px;
  font-size: 0.6875rem;
  text-align: center;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  color: white;
}
.attribution a {
  color: white;
}
@media only screen and (min-width: 90em) {
  .attribution {
    display: block;
  }
}

.profile-card {
  width: 100%;
  max-width: 325px;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
  color: var(--clr-dark-grayish-blue);
  background-color: var(--clr-white);
}
.profile-card__header {
  height: 140px;
  background-image: url(../images/bg-pattern-card.svg);
  position: relative;
}
.profile-card__picture {
  height: 105px;
  width: 105px;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  border: 5px solid var(--clr-white);
}
.profile-card__body {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 1.5rem;
}
.profile-card__name {
  font-weight: var(--fw-bold);
  color: var(--clr-very-dark-desaturated-blue);
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}
.profile-card__age {
  font-weight: var(--fw-regular);
}
.profile-card__location {
  font-size: 0.875rem;
}
.profile-card__stats {
  height: 89px;
  display: flex;
  text-align: center;
  line-height: 1;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--clr-dark-gray-alpha35);
}
.profile-card__stats li {
  color: var(--clr-very-dark-desaturated-blue);
  width: 92px;
  font-weight: var(--fw-bold);
}
.profile-card__stats span {
  font-size: 0.625rem;
  display: block;
  margin-top: 0.5rem;
  letter-spacing: 1px;
  color: var(--clr-dark-grayish-blue);
  font-weight: var(--fw-regular);
}
@media only screen and (min-width: 90em) {
  .profile-card {
    max-width: 350px;
  }
  .profile-card__stats li {
    width: 100px;
  }
}
/*# sourceMappingURL=main.css.map */
