@use '../abstracts/' as *;

body {
  position: relative;
  background-color: var(--clr-dark-cyan);
  background-image: url(../images/bg-pattern-top.svg),
    url(../images/bg-pattern-bottom.svg);
  background-repeat: no-repeat;
  background-position: right 40vw top -600px, left 42vw top 230px;

  @include media-breakpoint('desktop') {
    background-position: right 52vw top -516px, left 48vw top 370px;
  }
}
